<?xml version="1.0"?>

<config>
    <modules>
        <Tedja_Tcheckout>
            <version>0.0.1</version>
        </Tedja_Tcheckout>
    </modules>
    <global>
        <models>
            <tcheckout>
                <class>Tedja_Tcheckout_Model</class>
            </tcheckout>
        </models>
    </global>
    <frontend>
        <events>
            <controller_action_predispatch_checkout_cart_index>
                <observers>
                    <checkout_cart_noroute>
                        <class>tcheckout/observer</class>
                        <method>sendNoroute</method>
                    </checkout_cart_noroute>
                </observers>
            </controller_action_predispatch_checkout_cart_index>
            <controller_action_predispatch_checkout_onepage_index>
                <observers>
                    <checkout_onepage_noroute>
                        <class>tcheckout/observer</class>
                        <method>sendNoroute</method>
                    </checkout_onepage_noroute>
                </observers>
            </controller_action_predispatch_checkout_onepage_index>
        </events>
    </frontend>
</config>
